  html,
  body {
    background-color: #04083F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    text-align: center;
    font-size: xx-large;
    color: #88E2C1;
  }

  .sub-title {
    color: #04083F;
    background-color: #9F7AEF;
    /* padding: 0.7rem; */
    border-radius: 50rem;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    max-width: max-content;
    justify-self: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 1rem 0rem 1.5rem 0rem;
    padding: 0;
    gap: 1rem;

    li {
      cursor: pointer;
      margin: 1rem 0rem 1rem 0rem;

      a {
        color: #04083F;
        text-decoration: none;
        background-color: #88E2C1;
        border-radius: 50rem;
        padding: 0.7rem;
      }

      .chat-button {
        background-color: #04083F;
        color: #88e2c1;
        border: 3px solid #88E2C1;


      }
    }

    @media (max-width: 1120px) {
      margin: 4.5rem 0rem 1.5rem 0rem;
    }

  }

  .fav_emoji,
  .fav_country,
  .fav_animal,
  .fav_kitchen,
  .fav_hobby {
    font-size: 4rem;
  }

  .birthdate {
    color: #04083F;
    font-size: 2rem;
    font-weight: bold;
  }


  .index-main {
    #tint:checked~.tinted-background {
      display: block;
      
      @media (max-width: 1020px) {
        overflow-x: hidden;
      }
    }

    #tint:checked~.label-focus:has(.profile-bubble.static)~.tinted-background {
      display: none;
    }

    .tinted-background {
      display: none;
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 99;
      animation: overlay-transition 500ms ease-in;
    }

    .button-stop-animatie {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: absolute;
      top: 1em;
      left: 1em;
      color: #88E2C1;
      width: fit-content;
      z-index: 101;
      border-radius: 50rem;
      padding: 0.7rem;
      border: 0.2rem solid #88E2C1;
      background-color: #04083F;
      text-decoration: underline;
      cursor: pointer;
      text-decoration: none;
      font-size: 1em;

      &:hover {
        filter: brightness(0.8);
      }

      @media (max-width: 1120px) {
        left: 50%;
        transform: translateX(-50%);
        top: auto;
      }

    }
  }

  .figure-container {
    margin-top: 3.5rem;
  }

  .profile-bubble {
    --size-circle: 7em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: var(--size-circle);
    height: var(--size-circle);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #b594fc;
    border: 5px solid var(--fav_color, #9F7AEF);
    cursor: pointer;
    z-index: var(--z);

    animation:
      transX calc(var(--durX) * 1s) linear infinite alternate,
      transY calc(var(--durY) * 1s) linear infinite alternate;

    @media (max-width: 1020px) {
      animation:
      transX calc(var(--durX) * 1s) linear infinite alternate,
      transY-mobile calc(var(--durY) * 1s) linear infinite alternate;
    }

    &:hover {
      animation-play-state: paused;
      filter: brightness(1.2);
    }

    p {
      font-size: 1rem;
      font-weight: bold;
      color: #04083F;
      margin: auto;
      margin-top: 1rem;
    }

    .like-container {
      border-radius: 50%;
      grid-column-start: -2;
      width: 5rem;
      height: 0;
    }

    .like-button {
      display: none;
      border-radius: inherit;
      border: none;
      background-color: inherit;
      color: red;
      margin-top: -2.5rem;
    }

    .like-count {
      display: none;
      font-size: 1rem;
      padding: 0;
      text-align: center;
    }

    .github-link {
      display: none;
      grid-area: 2 / 1 / 3 / 3;
      text-decoration: none;
    }

    &.open {
      display: grid;
      grid-template-columns: min-content 1fr 5em;
      grid-template-rows: 1fr 1fr;
      text-align: center;
      animation: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
      height: 12rem;
      width: 21rem;
      border-radius: 15px;

      img {
        border-radius: 10%;
        width: 6rem;
        height: 6rem;
        margin: 0.5rem;
      }

      .like-button,
      .like-count,
      .github-link {
        display: block;
      }
    }

    &.static {
      position: relative;
      animation: none;


      &.open {
        display: grid;
        grid-template-columns: min-content 1fr 5em;
        grid-template-rows: 1fr 1fr;
        animation: none;
        z-index: 101;
        height: 12rem;
        width: 21rem;
        border-radius: 15px;
        position: absolute;


        .website {
          display: none;
        }

        img {
          border-radius: 10%;
          width: 6rem;
          height: 6rem;
          margin: 0.5rem;
        }

      }
    }
  }

  img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }

  .static-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 2fr));
    gap: 1.5rem;
    justify-items: center;
  }


  @keyframes transX {
    0% {
      translate: 0;
    }

    100% {
      translate: calc(100dvw - var(--size-circle) - 5em);
    }
  }

  @keyframes transY {
    0% {
      transform: translatey(0);
    }

    100% {
      transform: translatey(calc(100dvh - var(--size-circle) - 16em));
    }
  }

  @keyframes transY-mobile {
    0% {
      transform: translatey(0);
    }

    100% {
      transform: translatey(calc(100dvh - var(--size-circle)));
    }
  }